.counterContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.counterMid{
    width: 300px;
    height: 30vh;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.productDetail{
    background-color: transparent;
    font-size: 30px;
    box-shadow: none;
    margin-bottom: 15px;
}

h1.num{
    color: #f4f4f4;
    background: transparent;
    font-size: 50px;
    background-color: #272D40;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button.buttonCounter, .buttonDisabled{
    width: 50%;
    min-height: 40px;
    border-radius: 5%;
    border-color: transparent;
    background-color: #F2A20C;
    color: #020402;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 0 15px;
    margin-top: 30px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    margin: 5px;
    transition: .5s;
}
.buttonDisabled{
    background-color: #c5840b;
    opacity: 0.6;
}

.btnCant{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnAdd{
    width: 100%;
}

.buttonCheckout{
    background-color: #9ce37d !important;
    padding: 1rem!important;
    display: flex !important;
    margin: 3rem auto !important;
    transition: .5s all;
    width: 100% !important;
    border-radius: 0 !important;
}
.buttonBackShopping{
    background-color: #F2A20C !important;
    padding: 1rem!important;
    display: flex !important;
    margin: 3rem auto !important;
    transition: .5s all;
    width: 100% !important;
    border-radius: 0 !important;
}

.buttonCheckout:hover{
    box-shadow: 0 18px 40px -12px rgba(80, 250, 7, 0.5)!important;
}

.buttonCounter:hover,
.buttonBackShopping:hover {
    box-shadow: 0 18px 40px -12px rgba(242,162,12,.35);
}

