@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    height: 80px;
    width: 100%;
    background: #272D40;
}

label.logo{
    font-size: 35px;
    font-weight: 700;
    color: #020402;
    line-height: 80px; 
    transition: .5s all;
}

.logo:hover{
    color: #fff;
    cursor: pointer;
    transition: .5s all;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: #020402;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    transition: .5s all;
}

a:hover{
    color: #fff;
    transition: .5s all;
}

nav #icon{
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }

    nav a{
        font-size: 17px;
    }
}



